@import '../../styles/constants.scss';

/*---------------------------------CONTACTS PAGE ------------------------------*/

.contacts {
    &-main,
    &-main-title-block,
    &-info__details,
    &-map {
        position: relative;
    }
    &-main::after,
    &-main::before,
    &-info__details::before,
    &-main-title-block::before,
    &-map::before,
    &-map::after {
        position: absolute;
        content: '';
        background-image: url(../../../public/images/contacts-top-right-image.webp);
        background-position: left center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 650px;
        height: 800px;
        right: 0px;
        top: -110px;
        z-index: -1;
    }
    &-main::before,
    &-info__details::before,
    &-main-title-block::before,
    &-map::before,
    &-map::after {
        filter: blur(100px);
        transform: rotate(71deg);
        width: 465px;
        height: 220px;
        top: -96px;
        left: -116px;
        background-color: #922D2D;
        z-index: -1;
    }
    &-main {
        padding-bottom: 160px;

        &-title-block::before {
            width: 341px;
            height: 274px;
            top: -96px;
            left: unset;
            right: 0;
        }
        &-title {
            margin-left: 95px;
        }
    }
    &-info__details {
        gap: 30px;
        align-items: baseline;

        &::before {
            transform: rotate(-165deg);
            width: 1005px;
            height: 125px;
            top: 150px;
            left: 0px;
        }
        &-item {
            text-align: center;
            letter-spacing: 1px;
            padding: 50px;
            min-height: 215px;

            &-title {
                text-transform: uppercase;
                margin-bottom: 30px;
                font-family: Oswald-Bold;
                font-weight: 700;
            }
        }
    }

    &-map::before {
        width: 206px;
        height: 436px;
        top: unset;
        bottom: -350px;
        left: 0;
        transform: rotate(21deg);
    }
    &-map::after {
        width: 354px;
        height: 364px;
        top: unset;
        left: unset;
        bottom: -350px;
        right: 0;
        transform: rotate(-32deg);
    }
}

.questions.contacts-questions {
    background-color: unset;
}
.questions.contacts-questions::before {
    background-image: url(../../../public/images/contacts-middle-image.webp);
    background-size: cover;
    width: 825px;
    height: 1000px;
    top: -200px;
    z-index: 0;
}
.questions.contacts-questions::after,
.questions.contacts-questions .questions__box::before {
    display: none;
}  
.questions.contacts-questions .questions__form input,
.questions.contacts-questions .questions__form textarea {
    border-color: $grey;
}
.questions.contacts-questions .questions__form input::placeholder,
.questions.contacts-questions .questions__form textarea::placeholder {
    color: $grey;
}
.questions.contacts-questions .questions__form-policy a {
    color: $pink;
}

@media (max-width: 1050px) {
    .contacts-info__details {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts-info__details-item {
        width: 48%;
    }
    
}

@media (max-width: 800px) {
    .contacts-main {
        padding-bottom: 96px;
    }
    .contacts-info__details {
        gap: 20px;
    }
    .contacts-info__details-item {
        padding: 36px 24px;
        min-height: unset;
    }    
    .questions__title {
        margin-bottom: 45px;
    }
    .contacts-main .questions__box {
        flex-direction: column-reverse;
        margin-left: unset;
    }
    .contacts-main .questions {
        padding-bottom: unset;
    }
    .contacts-main .questions__info {
        position: static;
        max-width: unset;
    }

}

@media (max-width: 540px) {
    .contacts-main-title {
        margin-left: unset;
    }
    .contacts-info__details {
        justify-content: left;
    }
    .contacts-info__details-item {
        padding: unset;
        text-align: left;
        backdrop-filter: unset;
        background-color: transparent;
    }
    .contacts-info__details-item-title {
        margin-bottom: 4px;
    }
    .contacts-map iframe {
        max-height: 300px;
    }
}