@import '../../styles/constants.scss';

.info-basket {
    display: block;
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: auto;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    cursor: pointer;
    position: relative;
    border: unset;
    outline: transparent;

    &__order {
        position: absolute;
        content: '';
        right: 7px;
        top: 12px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $green;
        color: #142B2B;
        font-size: 11px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
