@import '../../styles/constants.scss';

.header {
    position: sticky;
    z-index: 25;    
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;

    &-top {
        &.header-with-basket .header__phone,
        &.header-with-basket .info-basket {
            display: none;
        }

        &.header-with-basket .header__mail {
            display: block;
        }
    }

    &-top,
    &-mobile {
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__menu-list {
        gap: 30px;
        margin-left: 70px;
    }
    &__menu-item {
        list-style: none;
    }
    &__menu-link {
        padding: 10px;
    }
    &__menu-item:hover .header__menu-link,
    &__menu-item:focus .header__menu-link,
    &__menu-item:active .header__menu-link,
    &__menu-link.active {
        color: $green;
    }
    &-mobile,
    &__mobile-btn {
        display: none;
    }
     
    &__mail {
        text-align: right;
    }
    &__mail,
    &__address {
        display: none;
    }
    &__phone {
        margin-left: auto;
        margin-right: 22px;
        letter-spacing: 1px;
        background-color: transparent;
        outline: transparent;
        border: none;
        cursor: pointer;

        &-link {
            color: $green;
        }
        &-img {
            display: inline-block;
            margin-right: 12px;
        }
    }
    &.header-with-blur {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    .info-basket {
        margin-left: unset;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
    }

    &__mobile-btn {
        position: relative;
        display: none;
        width: 30px;
        height: 26px;
        padding: 2px 1px;
        cursor: pointer;
        background: transparent;
        border-top: 3px solid;
        border-bottom: 3px solid;
        border-left: unset;
        border-right: unset;
        color: $green;
        font-size: 0;
        z-index: 80;
        transition: all 0.25s ease-in-out;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: $green;
            transform: translate(-50%, -50%);
            transition: transform 0.25s ease-in-out;
        }      
    }
    
    @keyframes show {
        0% {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 1;
            visibility: visible;
        }
    }
    &-mobile__title,
    &-mobile__title.show-mobile-title {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 5px;
        font-family: Cormorant-Light;
        font-weight: 300;
        display: none;
    }
}

@media (max-width: 1250px) {
    .header-top,
    .header.header-with-basket .header__mail {
        display: none;
    }
    .header__mobile-btn {
        display: block;
    }

    .header-mobile {
        display: block;
        padding-top: 24px;
        padding-bottom: 16px;

        &__close-btn {
            cursor: pointer;
            display: none;
        }
        .header-mobile__close-btn.active {
            display: block;
            position: absolute;
            right: 12px;
            top: 24px;
        }
        &.open {
            opacity: 1;
            visibility: visible;
            height: 100%;
            background-color: #1e1e1e;
            z-index: 80;        
        }
        .header-mobile__wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0px;
            padding-top: 24px;
            z-index: 7;
        }
        .header-mobile__wrapper.show {
            z-index: 80;
            padding-left: 12px;
            opacity: 1;
            visibility: visible;
            height: 600px;
            width: 300px;
            overflow: auto;
            background-color: $black;
            margin-left: unset;
            animation: show 0.4s ease forwards;
        }
        .header-mobile__wrapper.show .header__mail,
        .header-mobile__wrapper.show .header__address,
        .header-mobile__wrapper.show .header__phone {
            display: block;
        }
        .header__menu-list {
            margin-left: unset;
        }
        .header__menu {
            padding-right: 24px;
            margin-bottom: 12px;
        }
        .header__menu-link {
            padding-left: unset;
            width: 100%;
        }
        .header-mobile__grey-block {
            width: 100px;
            height: 1px;
            background-color: #555;
            margin-bottom: 24px;
        }
        .header__mail,
        .menu-contacts-info {
            text-align: left;
        }
        .header__mail,
        .header__address {
            margin-bottom: 24px;
        }
        .header__phone {
            margin-right: unset;
            margin-left: unset;
        }
        .info-basket {
            position: absolute;
            top: 20px;
            right: 16px;
        } 
        &__title {
            display: block;
            position: absolute;
            top: 30px;
            left: calc(50% - 50px);
        }  
    }   
}

// @media (max-width: 0px) {
   
// }