@import '../../styles/constants.scss';

.one-order {
    padding-bottom: $chapter-margin-bottom;
}
.one-order__inner {
    gap: 60px;
    align-items: flex-end;
}
.one-order__image img {
    object-fit: cover;
}
.one-order__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
.one-order__info-price {
    font-family: Oswald-Bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 44.46px;
    letter-spacing: 1px;
}
.one-order__info-title,
.one-order__info-price {
    margin-bottom: 48px;
}
.one-order__info-buttons {
    gap: 30px;
    color: #555;
}
.one-order__info-btn {
    flex-shrink: 0;
}
.one-order__info-buy {
    width: 160px;
    max-height: 50px;
    border: 1px solid #555;
    flex-shrink: 0;
    font-family: Oswald-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.64px;
}
.one-order__info-buy-btn {
    max-width: 32.5%;
    width: 100%;
    height: 100%;
    outline: transparent;
    background: transparent;    
    cursor: pointer;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    text-align: center;
}
.one-order__info-buy-number {
    display: inline-block;
    width: 27%;
    text-align: center;
}
.one-order__addition-title,
.one-order__delivery-title  {
    margin-bottom: 45px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.one-order__addition-inner {
    gap: 30px;
}
.one-order__addition-item {
    max-width: 255px;
    min-height: 215px;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px 16px 24px;
    position: relative;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
}
.one-order__addition-item::before {
    position: absolute;
    content: '';
    background-color: $black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -15px;
    left: calc(50% - 15px);
}
.one-order__addition-item-title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 0 35px;
}
.one-order__addition-item:last-child .one-order__addition-item-title {
    padding: 0 55px;
}
.one-order__delivery-info,
.one-order__delivery-cost {
    margin-bottom: 60px;
}
.one-order__delivery-list {
    margin-left: 60px;
    text-transform: uppercase;
}
.one-order__delivery-list-item + .one-order__delivery-list-item,
.one-order__delivery-text + .one-order__delivery-text {
    margin-top: 10px;
}
.one-order__delivery-text {
    text-transform: uppercase;
}
.one-order,
.one-order__main,
.one-order__addition,
.one-order__delivery {
    position: relative;
}
.one-order::before,
.one-order::after,
.one-order__main::after,
.one-order__addition::before,
.one-order__addition::after,
.one-order__delivery::before,
.one-order__delivery::after {
    position: absolute;
    content: '';
}
.one-order::before,
.one-order__main::after,
.one-order__addition::before,
.one-order__addition::after,
.one-order__delivery::before {
    z-index: -1;
    filter: blur(100px);
}
.one-order::before,
.one-order__addition::after {
    background-color: #43FFD2;
}
.one-order__main::after,
.one-order__addition::before,
.one-order__delivery::before {
    background-color: #7D2253;
}
.one-order::before {
    transform: rotate(72deg);
    width: 217px;
    height: 174px;
    left: -50px;
    top: -50px;
}
.one-order::after {
    background-image: url(../../../public/images/one-order-top-right-bg.webp);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 780px;
    height: 1170px;
    right: 0px;
    top: -100px;
}
.one-order__main::after {
    transform: rotate(-33deg);
    width: 590px;
    height: 360px;
    left: -50px;
    top: -50px;
}
.one-order__addition::before {
    transform: rotate(22deg);
    width: 560px;
    height: 255px;
    top: 40px;
    left: 395px;
}
.one-order__addition::after {
    transform: rotate(21deg);
    width: 711px;
    height: 218px;
    right: 0px;
    top: 135px;
}
.one-order__delivery::after {
    background-image: url(../../../public/images/catalog-item-right-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    width: 682px;
    height: 1022px;
    right: 0;
    top: -200px;
}
