/*--------------------------404------------*/
.not-found-main {
    &,
    &__image {
        position: relative;
    }
    &__image {
        max-width: 1400px;
        max-height: 1000px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &::after,
    &::before {
        position: absolute;
        content: '';
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../public/images/not-found-right-image.webp);
        z-index: 10;
        right: 0;
        bottom: 0;
        width: 500px;
        height: 800px;
    }
    &::before,
    &__image::before {
        position: absolute;
        content: '';
        z-index: -1;
        filter: blur(100px);
        background-color: #163D8F;
    }
    &::before {
        transform: rotate(21deg);
        width: 166px;
        height: 353px;
        right: 0;
        top: -130px;
    }
    &__image::before {
        transform: rotate(21deg);
        width: 285px;
        height: 300px;
        left: 0;
        bottom: -15px;
        z-index: 1;
    }

    &__number {
        font-family: Cormorant-Regular; 
        font-size: 600px;
        line-height: 727px;
        background: -webkit-linear-gradient(#163D8F, #163D8F, #4F6CAB, #B6CDFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        position: absolute; 
        &--first {
            left: 15%;
            top: -175px;
            z-index: -1;
        }
        &--second {
            left: 38%;
            top: -253px;
            z-index: -1;
        }
        &--third {
            left: 29%;
            top: 20px;
            z-index: 5;
        }
    }
    &__text,
    &__sign {
        position: absolute;
        right: 20%;
        bottom: 10%;
        text-transform: uppercase;
    }
    &__text {
        right: 22%; 
        bottom: unset;
        top: 200px;
        &-error,
        &-message {
            margin-bottom: 20px;
        }
        &-link {
            text-decoration: underline;
        }
    }
    &__sign img {
        object-fit: cover;
    }
}

@media (max-width: 1300px) {
    .not-found-main {
        &::after {
            display: none;
        }

        &__text,
        &__sign {
            right: 50px;
        }
    }
}

@media (max-width: 950px) {
    .not-found-main {
        &__number {
            font-size: 400px;
            line-height: 585px; 
            &--third {
                left: 32%;
                top: -50px;
            }
        }
        
    }
}

@media (max-width: 880px) {
    .not-found-main {
        &__text {
            top: 48px;
            font-size: 14px;
        }
        &__sign {
            bottom: 48px;
            max-width: 200px;
            max-height: 130px;
            & img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        &__text,
        &__sign {
            right: 48px;
        }

    }
}

@media (max-width: 640px) {
    .not-found-main {
        &__sign {
            display: none;
        }
        &__text {
            bottom: 48px;
            top: unset;
        }
        &__number {
            font-size: 200px;
            line-height: 360px;
            &--first {
                left: 15%;
                top: -20px;
            }
            &--second{
                left: 48%;
                top: -100px;
            }
        }
    }
}

@media (max-width: 640px) {
    .not-found-main {
        &__image::before {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .not-found-main {
        &__text {
            z-index: 15;
            backdrop-filter: blur(3px);
        }
    }
}


