@import '../../styles/constants.scss';

/*--------------------------404------------*/
.not-found-main {
    position: relative;

    &__image {
        position: relative;
    }
    &::after,
    &::before {
        position: absolute;
        content: '';
        background-position: left center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../public/images/404-top-right-image.webp);
        z-index: 10;
        right: 0;
        top: 0;
        width: 300px;
        height: 700px;
    }
    &::before,
    &__image::after,
    &__image::before {
        position: absolute;
        content: '';
        z-index: -1;
        filter: blur(100px);
        background-color: #163D8F;
    }
    &::before {
        transform: rotate(21deg);
        width: 166px;
        height: 353px;
        right: 0;
        top: -130px;
    }
    &__image::before,
    &__image::after {
        transform: rotate(21deg);
        width: 285px;
        height: 300px;
        left: 0;
        bottom: -15px;
        z-index: 1;
    }
    &__image::after {
        height: 600px;
        left: unset;
        right: -50px;
        bottom: -100px;
        z-index: -1;
    }
    &__number {
        font-family: Cormorant-Regular; 
        font-size: 600px;
        line-height: 727px;
        background: -webkit-linear-gradient(#163D8F, #163D8F, #4F6CAB, #B6CDFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        // position: absolute; 
        position: relative;

        &--first {
            left: 100px;
            top: 205px;
            z-index: -1;
        }
        &--second {
            left: 600px;
            top: 0px;
            z-index: -1;
        }
        &--third {
            left: 450px;
            top: 320px;
            z-index: 5;
        }
    }

    &__text,
    &__sign {
        position: absolute;
        right: 20%;
        bottom: 10%;
        text-transform: uppercase;
    }
    &__text-error,
    &__text-message {
        margin-bottom: 20px;
    }
    &__text-link {
        text-decoration: underline;
    }
    &__sign {
        right: 15%;
        bottom: unset;
        top: 200px;
    }
    &__sign img {
        object-fit: cover;
    }

}

