@import '../../styles/constants.scss';

/*-------------------POLICY-------------------*/
.main-policy {
    background:  url(../../../public/images/payment-failed-page-background.webp) center / cover no-repeat;
    padding-bottom: $chapter-margin-bottom;
    padding-top: $chapter-margin-bottom;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        filter: blur(100px);
    }

    &::before {
        transform: rotate(21deg);
        width: 166px;
        height: 353px;
        left: -50px;
        top: -170px;
        background-color: $crimson;
    }

    &::after {
        transform: rotate(21deg);
        width: 166px;
        height: 353px;
        right: -50px;
        top: -170px;
        background-color: $green;
    }
}

.policy-info__text + .policy-info__text {
    margin-top: 12px;
}



// .main-policy::before,
// .policy-title-block::before,
// .policy-title-block::after {
//     z-index: -1;
//     filter: blur(100px);
//     background-color: #7D2253;
// }
// .main-policy::before {
//     transform: rotate(21deg);
//     width: 166px;
//     height: 353px;
//     left: -50px;
//     bottom: -170px;
// }
// .policy-title-block::before {
//     transform: rotate(71deg);
//     width: 217px;
//     height: 174px;
//     left: -50px;
//     top: -150px;
//     background-color: #43FFD2;
// }
// .policy-title-block::after {
//     transform: rotate(32deg);
//     width: 504px;
//     height: 625px;
//     right: 0px;
//     top: -350px;
// }