@import '../../styles/constants.scss';

/*------------------------FAQ-------------------*/
.faq-main,
.faq-main-title-block,
.nav {
    position: relative;
}
.faq-main::before,
.faq-main::after { 
    position: absolute;
    content: '';
    background-image: url(../../../public/images/faq-top-left-image.webp);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 262px;
    max-height: 239px;
    width: 100%;
    height: 100%;
    left: 0px;
    top: -210px;
    z-index: 18;
}
.faq-main::after { 
    background-image: url(../../../public/images/faq-top-right-image.webp);
    background-position: right center;
    max-width: 624px;
    max-height: 542px;
    left: unset;
    right: 0;    
    top: -200px;
}
.faq-main-title-block::before,
.faq-main-title-block::after,
.nav::before,
.nav::after {
    position: absolute;
    content: '';
    z-index: 0;
    filter: blur(100px);
    transform: rotate(71deg);
    width: 465px;
    height: 220px;
    top: -200px;
    left: -165px;
    background-color: #3D5279;
    z-index: -1;
}
.faq-main-title-block::after {
    transform: rotate(118deg);
    width: 328px;
    height: 220px;
    top: -200px;
    left: unset;
    right: 170px;
}
.faq-main-title-block {
    margin-bottom: 40px;
}
.faq-green-block {
    background-color: $green;
    width: 65px;
    height: 1px;
    margin-right: 30px;
}
.nav {
    width: 100%;
    padding-bottom: 160px;
    transition: all 0.5s;

    &::before {
        transform: rotate(21deg);
        width: 205px;
        height: 436px;
        top: unset;
        left: 0;
        bottom: -200px;
    }
    &::after {
        transform: rotate(118deg);
        width: 355px;
        height: 365px;
        top: unset;
        left: unset;
        right: 0px;
        bottom: -200px;
    }
    &-item {
        border: 1px solid $green;
        padding: 20px;
        max-width: 825px;
        & p + p {
            margin-top: 16px;
        }
    }
    &-item + .nav-item {
        margin-top: 10px;
    }    
}
.accordion__heading {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.nav-submenu div:first-child, 
.nav-submenu p:first-child {
    padding-top: 24px;
}
.nav-submenu__list {
    padding-left: 30px;
    margin-top: 10px;
}
.nav-submenu__list-item + .nav-submenu__list-item {
    margin-top: 6px;
}
.nav-submenu,
.nav-link {
    padding-right: 24px;
}
.nav-link::after {
    position: absolute;
    content: '';
    top: 8px;
    right: 0;
    height: 12px;
    width: 12px;
    margin-bottom: 3px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}
.nav-link[aria-expanded='true']::after,
.nav-link[aria-selected='true']::after {
    transform: rotate(45deg);
    top: 2px;
}